.loading-overlay-container {
    background: white;
    height: 100vh;
    position: fixed;
    width: 100vw;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    }