.contact-form{
    margin: 160px auto;
    max-width: 797px;
    text-align: center;
    width: 100%;
}
.contact-form h2{
    font-size: 50px;
}
.contact-form form {
    margin: 40px 0 0 0;
    width: 100%;
}
.contact-form p {
    font-size: 20px;
    margin: 0;

}
.contact-form .form-group{
    column-gap: 39px;
    margin: 40px 0 0 0;
}
.button{
    border-radius: 18px;
    border: none;
    column-gap: 10px;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    padding: 25px 50px;
    transition: background-color 0.3 ease;
}
